.mat-dialog-container {
  box-shadow: none !important; ;
  background: var(--md-sys-color-surface-variant) !important;
  color: var(--md-sys-color-on-surface) !important;
  border-radius: 18px !important;
}
