.mat-select-panel {
  background: var(--md-sys-color-surface-variant) !important;

  .mat-option-text {
    color: var(--md-sys-color-on-surface-variant) !important;
  }


}
.mat-select-value{
  color: var(--md-sys-color-on-surface-variant) !important;
}

.mat-select-arrow{
  color: var(--md-sys-color-on-surface-variant) !important;
}

.mat-pseudo-checkbox {
  color: var(--md-sys-color-on-surface-variant) !important;
}
