<div class="uk-section uk-section-small uk-height-viewport">
  <div class="uk-container uk-container-xsmall">
    <div class="uk-grid-match uk-flex uk-flex-center uk-child-width-1-6@m" uk-grid>
      <div>
        <img src="assets/tag-logo.svg" alt="">
      </div>
    </div>
  </div>

  <div class="uk-container uk-container-xsmall uk-margin-medium-top">
    <div class="center">

      <div class="headline-medium"> Enter Code </div>
      <div class="secondary-text label-small uk-margin-top"> Please enter the code received on your mail.</div>


      <form class="uk-grid-small uk-margin-small-top uk-width-2-3" uk-grid>
        <div class="uk-width-auto">
          <mat-form-field appearance="outline" class="mat-fo">
            <mat-label> </mat-label>
            <input #input1 matInput (input)="onInput(input2)">
          </mat-form-field>
        </div>
        <div class="uk-width-auto">
          <mat-form-field appearance="outline" class="mat-fo">
            <mat-label></mat-label>
            <input #input2 matInput (input)="onInput(input3)">
          </mat-form-field>
        </div>
        <div class="uk-width-auto">
          <mat-form-field appearance="outline" class="mat-fo">
            <mat-label></mat-label>
            <input #input3 matInput (input)="onInput(input4)">
          </mat-form-field>
        </div>
        <div class="uk-width-auto">
          <mat-form-field appearance="outline" class="mat-fo">
            <mat-label></mat-label>
            <input #input4 matInput (input)="onInput(input5)">
          </mat-form-field>
        </div>

        <div class="uk-width-auto">
          <mat-form-field appearance="outline" class="mat-fo">
            <mat-label></mat-label>
            <input #input5 matInput (input)="onInput(input6)">
          </mat-form-field>
        </div>

        <div class="uk-width-auto">
          <mat-form-field appearance="outline" class="mat-fo">
            <mat-label></mat-label>
            <input #input6 matInput>
          </mat-form-field>
        </div>
      </form>

      <div class="uk-margin-top">
        <button class="common-icon title-medium common-filled uk-margin-top">
          &nbsp; &nbsp; &nbsp; Submit &nbsp; &nbsp;
        </button>
      </div>
    </div>


    <div class="uk-margin-large-top">
      <div class="card card-outline uk-width-1-1@m">


        <div class="uk-padding card card-elevated">
          <div class="title-medium">Title</div>
          <div class="label-medium">Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore
            magna aliqua.</div>
        </div>

        <div class="uk-padding uk-margin-top card card-elevated">
          <div class="title-medium">Title</div>
          <div class="label-medium">Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore
            magna aliqua.</div>
        </div>

        <div class="uk-padding uk-margin-top card card-elevated">
          <div class="title-medium">Title</div>
          <div class="label-medium">Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore
            magna aliqua.</div>
        </div>


      </div>
    </div>

  </div>

</div>
